<a href="https://colab.research.google.com/github/as9786/ML-DLPratice/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib.request as req
local = 'mushroom.csv'
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data"
req.urlretrieve(url,local)
print('ok')

ok

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [3]:
mr = pd.read_csv('mushroom.csv',header=None)

In [5]:
mr.head()

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [9]:
label = []
data = []
attr_list = []

for row_index,row in mr.iterrows():
    label.append(row.loc[0])
    row_data = []
    for v in row.loc[1:]:
        row_data.append(ord(v))
    data.append(row_data)

In [13]:
data_train,data_test,label_train,label_test = train_test_split(data,label)

In [14]:
clf = RandomForestClassifier()
clf.fit(data_train,label_train)

RandomForestClassifier()

In [15]:
predict = clf.predict(data_test)

In [16]:
ac_score = metrics.accuracy_score(label_test,predict)
cl_report = metrics.classification_report(label_test,predict)
print('정답률=',ac_score)
print('리포트=\n',cl_report)

정답률= 1.0
리포트=
               precision    recall  f1-score   support

           e       1.00      1.00      1.00      1061
           p       1.00      1.00      1.00       970

    accuracy                           1.00      2031
   macro avg       1.00      1.00      1.00      2031
weighted avg       1.00      1.00      1.00      2031

# 데이터를 숫자로 변경할 때 주의할 사항

In [18]:
mr = pd.read_csv('mushroom.csv',header=None)

In [40]:
label = []
data = []
attr_list = []

for row_index,row in mr.iterrows():
    label.append(row.loc[0])
    exdata = []
    for col, v in enumerate(row.loc[1:]):
        if row_index == 0:
            attr = {'dic':{},'cnt':0}
            attr_list.append(attr)
        else:
            attr = attr_list[col]
        #버섯의 특징 기호로 배열로 나타내기
        d = [0,0,0,0,0,0,0,0,0,0,0,0]
        if v in attr['dic']:
            idx = attr['dic'][v]
            
        else:
            idx = attr['cnt']
            
            attr['dic'][v] = idx
            attr['cnt'] += 1
            
        d[idx] = 1
        
        exdata += d
        
        
    data.append(exdata)

In [41]:
data_train,data_test,label_train,label_test = train_test_split(data,label)

In [42]:
clf = RandomForestClassifier()
clf.fit(data_train,label_train)

RandomForestClassifier()

In [43]:
predict = clf.predict(data_test)

In [44]:
ac_score = metrics.accuracy_score(label_test,predict)
print('정답률=',ac_score)

정답률= 1.0